input:focus,
textarea:focus,
button:focus {
   outline: none;
}

.v-toast {
   &__item {
      position: relative;
      padding-right: 24px;
   }
   &__icon {
      top: 8px;
      right: 8px;
      margin-left: 0;
      position: absolute;
      @include rect(16px);
      min-width: 16px !important;
   }
}
