.fill-white {
   fill: white;
}
.stroke-white {
   stroke: white;
}
.rounded-r-none {
   border-top-right-radius: 0 !important;
   border-bottom-right-radius: 0 !important;
}
.rounded-l-none {
   border-top-left-radius: 0 !important;
   border-bottom-left-radius: 0 !important;
}
.lg\:flex {
   @include on("lg") {
      display: flex;
   }
}
