:root {
   --dark-1: #1f1f1f;
   --dark-2: #2d2d2d;
   --dark-3: #3a3a3a;

   --light-1: #ffffff;
   --light-2: #bdbdbd;
   --light-3: #757575;

   --cyan-1: #00b9e8;
   --cyan-2: #00a3cc;

   --yellow-1: #ffcf00;
   --yellow-2: #e4be31;
}
