:root {
   --dark-1: #1f1f1f;
   --dark-2: #2d2d2d;
   --dark-3: #3a3a3a;

   --light-1: #ffffff;
   --light-2: #bdbdbd;
   --light-3: #757575;

   --cyan-1: #00b9e8;
   --cyan-2: #00a3cc;

   --yellow-1: #ffcf00;
   --yellow-2: #e4be31;
   --yellow-3: #e8a90c;
}

.bg-primary {
   background-color: var(--dark-1);
}
.bg-secondary {
   background-color: var(--dark-2);
}
.bg-secondary2 {
   background-color: var(--dark-3);
}
.text-primary {
   color: var(--yellow-1);
}
.text-cyan-accent {
   color: var(--cyan-1);
}
.text-cyan-accent2 {
   color: var(--cyan-2);
}
.bg-yellow-accent {
   background-color: var(--yellow-1);
}
.bg-yellow-accent2 {
   background-color: var(--yellow-2);
}
.bg-yellow-accent3 {
   background-color: var(--yellow-3);
}
